.buttonModal{
     button {
    height: 48px;
    border-radius: 24px;
    width: 327px;
    background-color: #ffde00;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: black;
    font-family: 'Montserrat';
border: none;
  }

  &.adm-button:not(.adm-button-default) {
    --border-color: none;
    --text-color: black;
    font-family: 'Montserrat';
  }

}