.container-wallet {
  background-color: white;
  mix-blend-mode: normal;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  border-radius: 19px;
  width: 125px;
  height: 38px;
}


.content-wallet{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-title{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 7px;
}

.content-title{
    font-weight: 400;
font-size: 9px;
line-height: 11px;
text-align: right;
}

.content-desc{
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}