.headerTitle{
    width: '100%';
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    justify-content: center;
}
.header {
    padding:20px;
    flex: none;
  }